/*Scroll bar*/

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#585756 ,#e96e13);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#24caac, #24caac);
}

/*End of Scroll bar*/
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.7;
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
}

/* === Navbar === */
.navbar-nav > li{
    padding-left:30px;
    padding-right:17px;
    letter-spacing: 2px;
}
.navbar-dark .navbar-nav .nav-link{
    color: black;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
}

.navbar-brand {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 20px;
}

.nav-item {
  padding: 0 1px;
}
.nav-link {
  font-size: 1rem;
  text-align: justify;
  font-family: "Montserrat";
  color: black;
}

/* === Carousel === */

.first-section {
    background-position-x: center;
    overflow: hidden;
    height: 100vh;
    vertical-align: middle;
    background-size: cover;
}




/* Newsletter*/
.home-newsletter {
    padding: 80px 0;
    background-color: rgb(133, 148, 248);
    }
.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
.home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
.home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}


/*video projects*/
  .video-project{
    background-color: rgb(133, 148, 248);;
    color:black;
    padding-top: 1px;
    padding-bottom: 5%;
  }
  .marquee-wrapper{
    overflow: hidden;
  }
  .marquee{
    display: flex;
    animation-name: marquee;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    transform: translateX();
  }

  @keyframes marquee{
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
  }
/*video projects*/

/* ==== Blogs section ==== */

.events .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
}
  
.events .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.events .card-img img {
    max-width: 100%;
}

.events .card-body {
    z-index: 10;
    background: #fff;
   
    padding: 30px;
    box-shadow: 0px 6px 17px #a14949;
    margin-top: -60px;
}

.events .card-title {
    font-weight: 700;
    text-align: center;
}

.events .card-title a {
    color: #000000;
    transition: 0.3s;
    text-decoration: none;
    font-size: 1.3rem;
}

.events .card-text {
    color: #5e5e5e;
}
.btn-outline-primary {
    color: #a14949;
    border-color:#a14949;
}

.btn-outline-primary:hover {
    background-color: #a14949;
    border-color:#a14949;
}  
.events a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}
  
.events .card:hover .card-body .card-title a {
    color: #a14949;
    font-size: 1.5rem;
    
}

/* End Events */


/* contact section */
.contact4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.contact4 h1, .contact4 h2, .contact4 h3, .contact4 h4, .contact4 h5, .contact4 h6 {
  color: #3e4555;
}

.contact4 .font-weight-medium {
	font-weight: 500;
}

.contact4 .form-control {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
  border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input::placeholder,
.contact4 textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

.contact4.bg-info {
    background-color: #188ef4 !important;
}

.contact4 .text-inverse {
    color: #3e4555 !important;
}

@media (min-width: 1024px) {
	.contact4 .contact-box {
    padding: 80px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
    padding-left: 15px;
    padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
			position: relative;
			bottom: -95px;
	}
}
/*contact*/

/* === Footer section === */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: rgb(133, 148, 248);;
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    }
    
    h2 {
    font-weight: 400;
    font-size: 15px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .box a {
    color: #999;
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }
    
